.generateRaportPage{
    width: 400px;
    height: 400px;
    background-color: #f1fffd;
    border: 1px solid #e5fffc;
    border-radius: 25px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    gap: 10px;
}

.Welcom_generate{
    grid-row: 1;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #34508c;
}

.Link{
    grid-row: 2;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #34508c;
    font-weight: bold;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.generate_raport_button_layout{
    grid-row: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.generate_raport_button{
    background-color: #f8f8f8;
    border: 2px solid #34508c;
    border-radius: 15px;
    font-size: 20px;
    text-decoration: none;
    color: #34508c;
    width: 180px;
    height: 60px;
}

.go_back_button{
    background-color: #34508c;
    border: 2px solid #f8f8f8;
    border-radius: 15px;
    font-size: 20px;
    text-decoration: none;
    color: #f8f8f8;
    width: 180px;
    height: 60px;
}

.generate_raport_button:hover{
    background-color: #34508c;
    border: 2px solid #f8f8f8;
    color: #f8f8f8;
}